h1{
    text-align: center;
    font-size: 100px;
    color: black;
}
body{
    .fundosite2 {
        width: 1000px;
        height: 1000px;
     }
     
     .ini {
        background-image: url("fundo2.jpeg");
     }
}