h1{
    text-align: center;
    font-size: 100px;
    color: black;
}
body {
    background-color: rgb(255, 255, 255);
 }
 .fundosite{
    width: 100px;
    height: 100px;
 }
 
 .ini {
    background-image: url("fundosite.jpg");
 }